
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/gallery">
   Gallery App
  </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{title}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Image Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
    </ul>
  </div>
</nav>
