
<div class="card mb-80">
  <div class="container">
        <div class="col-md-20">
          <ul id="thumbnailsList" class="col-lg-5 col-md-10" ng-controller="GalleryCtrl">
            <li *ngFor = "let image of images" class="img" >
              <a [routerLink]="['/image', image.id]">
                <div class="card-img-wrapper">      
                  <img src="{{image.thumbnailUrl}}" class="card-img-top">  
                </div>
              </a>
              <div class="card-body p1"> 
                <h6>{{image.title}}</h6> 
                <button class="btn btn-lg btn-outline-primary" (click)="open(image)">Избриши слика</button>   
              </div>
            </li>
          </ul>
        </div>
  </div>
</div>



