.container{
    color: #111;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0);
    width: 60%;
    padding: 5%;
    border-radius: 3px;
    margin-top: 20 px;
}

.heading{
    font-size: 24 px;
    margin-bottom: 30 px;
}

button{
    height: 60 px;
    margin-top: 20 px;
    width: 100%;
}